/* Droid Sans font add */
@font-face { font-family: 'Droid Sans'; src: url("../css/fonts/droid-sans_[allfont.net].ttf") format("ttf"); }
* { margin: 0; padding: 0; outline: 0; }

* { box-sizing: border-box; }

body { background-color: #ffffff; color: #333333; font-family: 'Poppins', sans-serif; }

/*a:hover {text-decoration: none;}*/
button { cursor: pointer; }

a:focus, button, button:focus, input, input:focus, textarea, textarea:focus { outline: 0; }

a, h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1 { font-size: 40px; }

h2 { font-size: 32px; }

h3 { font-size: 28px; }

h4 { font-size: 24px; }

h5 { font-size: 20px; }

h6 { font-size: 18px; }

img { height: auto; max-width: 100%; }

ul { margin: 0; padding: 0; list-style-type: none; }

/*Input Placeholder*/
*::-moz-placeholder { color: #1c1c21; font-size: 14px; opacity: 1; }

*::placeholder { color: #1c1c21; font-size: 14px; opacity: 1; }

/*Content Selection*/
*::-moz-selection { background: #1c1c21; color: #ffffff; text-shadow: none; }

*::selection { background: #1c1c21; color: #ffffff; text-shadow: none; }

/*BG Color*/
.bg-black { background-color: #151515; }

.bg-blue { background-color: #0066ff; }

.bg-gray { background-color: #6c757d; }

/* Margin Classes */
/*Margin Top*/
.mt-10 { margin-top: 10px; }

.mt-15 { margin-top: 15px; }

.mt-20 { margin-top: 20px; }

.mt-25 { margin-top: 25px; }

.mt-30 { margin-top: 30px; }

.mt-35 { margin-top: 35px; }

.mt-40 { margin-top: 40px; }

.mt-45 { margin-top: 45px; }

.mt-50 { margin-top: 50px; }

.mt-70 { margin-top: 70px; }

/*Margin Right*/
.mr-10 { margin-right: 10px; }

.mr-15 { margin-right: 15px; }

.mr-20 { margin-right: 20px; }

.mr-25 { margin-right: 25px; }

.mr-30 { margin-right: 30px; }

.mr-35 { margin-right: 35px; }

.mr-40 { margin-right: 40px; }

.mr-45 { margin-right: 45px; }

.mr-50 { margin-right: 50px; }

/*Margin Bottom*/
.mb-10 { margin-bottom: 10px; }

.mb-15 { margin-bottom: 15px; }

.mb-20 { margin-bottom: 20px; }

.mb-25 { margin-bottom: 25px; }

.mb-30 { margin-bottom: 30px; }

.mb-35 { margin-bottom: 35px; }

.mb-40 { margin-bottom: 40px; }

.mb-45 { margin-bottom: 45px; }

.mb-50 { margin-bottom: 50px; }

/*Margin Left*/
.ml-10 { margin-left: 10px; }

.ml-15 { margin-left: 15px; }

.ml-20 { margin-left: 20px; }

.ml-25 { margin-left: 25px; }

.ml-30 { margin-left: 30px; }

.ml-35 { margin-left: 35px; }

.ml-40 { margin-left: 40px; }

.ml-45 { margin-left: 45px; }

.ml-50 { margin-left: 50px; }

/* Padding Classes */
/*Padding Top*/
.pt-10 { padding-top: 10px; }

.pt-15 { padding-top: 15px; }

.pt-20 { padding-top: 20px; }

.pt-25 { padding-top: 25px; }

.pt-30 { padding-top: 30px; }

.pt-35 { padding-top: 35px; }

.pt-40 { padding-top: 40px; }

.pt-45 { padding-top: 45px; }

.pt-50 { padding-top: 50px; }

.pt-55 { padding-top: 55px; }

.pt-60 { padding-top: 60px; }

.pt-65 { padding-top: 65px; }

.pt-70 { padding-top: 70px; }

.pt-75 { padding-top: 75px; }

.pt-80 { padding-top: 80px; }

.pt-85 { padding-top: 85px; }

.pt-90 { padding-top: 90px; }

.pt-95 { padding-top: 95px; }

/*Padding Right*/
.pr-10 { padding-right: 10px; }

.pr-15 { padding-right: 15px; }

.pr-20 { padding-right: 20px; }

.pr-25 { padding-right: 25px; }

.pr-30 { padding-right: 30px; }

.pr-35 { padding-right: 35px; }

.pr-40 { padding-right: 40px; }

.pr-45 { padding-right: 45px; }

.pr-50 { padding-right: 50px; }

.pr-55 { padding-right: 55px; }

.pr-60 { padding-right: 60px; }

.pr-65 { padding-right: 65px; }

.pr-70 { padding-right: 70px; }

.pr-75 { padding-right: 75px; }

.pr-80 { padding-right: 80px; }

.pr-85 { padding-right: 85px; }

.pr-90 { padding-right: 90px; }

.pr-95 { padding-right: 95px; }

/*Padding Bottom*/
.pb-10 { padding-bottom: 10px; }

.pb-15 { padding-bottom: 15px; }

.pb-20 { padding-bottom: 20px; }

.pb-25 { padding-bottom: 25px; }

.pb-30 { padding-bottom: 30px; }

.pb-35 { padding-bottom: 35px; }

.pb-40 { padding-bottom: 40px; }

.pb-45 { padding-bottom: 45px; }

.pb-50 { padding-bottom: 50px; }

.pb-55 { padding-bottom: 55px; }

.pb-60 { padding-bottom: 60px; }

.pb-65 { padding-bottom: 65px; }

.pb-70 { padding-bottom: 70px; }

.pb-75 { padding-bottom: 75px; }

.pb-80 { padding-bottom: 80px; }

.pb-85 { padding-bottom: 85px; }

.pb-90 { padding-bottom: 90px; }

.pb-95 { padding-bottom: 95px; }

/*Padding Left*/
.pl-10 { padding-left: 10px; }

.pl-15 { padding-left: 15px; }

.pl-20 { padding-left: 20px; }

.pl-25 { padding-left: 25px; }

.pl-30 { padding-left: 30px; }

.pl-35 { padding-left: 35px; }

.pl-40 { padding-left: 40px; }

.pl-45 { padding-left: 45px; }

.pl-50 { padding-left: 50px; }

.pl-55 { padding-left: 55px; }

.pl-60 { padding-left: 60px; }

.pl-65 { padding-left: 65px; }

.pl-70 { padding-left: 70px; }

.pl-75 { padding-left: 75px; }

.pl-80 { padding-left: 80px; }

.pl-85 { padding-left: 85px; }

.pl-90 { padding-left: 90px; }

.pl-95 { padding-left: 95px; }

.custom-btn { background-color: #29b6f6; color: green; font-size: 12px; font-family: "Montserrat", sans-serif; font-weight: 400; width: 100%; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; padding: 15px 20px; border: none; }
.custom-btn:hover, .custom-btn:focus { background-color: #000000; color: #ffffff; border-color: #FFEF44; }

h1 { font-style: normal; font-size: 60px; font-family: "Montserrat", sans-serif; font-weight: 700; color: #ffffff; line-height: 1.2; }

h2 { font-style: normal; font-size: 39px; font-family: "Montserrat", sans-serif; font-weight: 400; text-transform: uppercase; line-height: 0.833; }

h3 { font-size: 30px; font-family: "Sue Ellen Francisco", cursive; font-style: normal; font-weight: 400; line-height: 1; }

h4 { font-size: 22px; font-family: "Montserrat", sans-serif; font-style: normal; font-weight: 400; line-height: 1; text-transform: uppercase; }

h5 { font-size: 18px; font-family: "Montserrat", sans-serif; font-style: normal; font-weight: 400; text-transform: uppercase; }

h6 { font-size: 15px; font-family: "Montserrat", sans-serif; font-weight: 400; }

p { font-size: 14px; font-family: "Droid Sans", sans-serif; font-style: normal; font-weight: 400; }

.top-title { position: relative; }
.top-title:before { content: ''; position: absolute; left: 0; right: 0; background: url(../img/bottom-img.png) no-repeat; background-position: left; background-size: auto; height: 100%; width: 100%; display: block; margin: 0 auto; text-align: left; }

.controls-top .fa { text-decoration: none; /* margin: 32px 14px 32px 0px; */ border: 1px solid #999999; border-radius: 4px; background-color: #ffffff; width: 21px; height: 21px; color: #b7b7b7; padding: 2px 0px 2px 3px; }

.guests-control .fa { margin-top: 50px; }

/* ========================================================================== > style the header-section ========================================================================== */
.header-top { background-color: #ffffff; }
.header-top img { padding: 12px 0px 12px 30px; }
.header-top ul > li { padding: 20px 30px 0px 0px; }
.header-top ul > li p { font-size: 12px; font-family: "Montserrat", sans-serif; font-weight: 400; }

.header { background-color: transparent; margin-top: 18px; z-index: 1; width: 100%; }

/*  ********************************* > style the menu-section ******************************** */
.header-menu nav ul > li { padding: 0px 13px 0px 30px; border-right: 1px solid white; }
.header-menu:last-child { padding: 0; }
.header-menu a { font-size: 12px; font-weight: 400; font-family: "Montserrat", sans-serif; }

.header-menu .navbar-nav li.active > a { color: #1B5E20; background-color: white; }

/*  ********************************* > style the slider-section ******************************** */
.carousel-btn { background-color: #29b6f6; color: #ffffff; font-size: 0px; font-family: "Montserrat", sans-serif; font-weight: 400; width: auto; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; border-radius: 4px; padding: 10px 27px 10px 27px !important; margin: 54px auto 0 auto; font-size: 12px; display: inline-block; border: 2px solid #29b6f6; font-weight: 400; }
.carousel-btn:hover, .carousel-btn:focus { background-color: #128712; color: #ffffff; border-color: #FFEF44; }

.carousel-btn2 { background-color: transparent; color: #ffffff; font-size: 0px; font-family: "Montserrat", sans-serif; font-weight: 400; width: auto; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; border-radius: 4px; padding: 10px 27px 10px 27px !important; margin: 54px auto 0 auto; font-size: 12px; display: inline-block; border: 2px solid white; font-weight: 400; }
.carousel-btn2:hover, .carousel-btn2:focus { background-color: #128712; color: #ffffff; border-color: #FFEF44; }

.carousel-inner img { width: 100%; height: auto; }

.carousel-caption { margin-bottom: 300px; }
.carousel-caption h1 { font-family: "Sue Ellen Francisco", cursive; font-weight: 400; }
.carousel-caption h2 { font-size: 60px; font-weight: 700; text-transform: capitalize; }

/* ========================================================================== > style the main-body-section ========================================================================== */
.welcome-body .client-jason { padding: 0px 0px 12px 0px; }

.total-section { padding: 60px 0px 60px 0px; }
.total-section h4 { padding: 0px 0px 60px 0px; }
.total-section h3 { font-family: "Mrs Saint Delafield", cursive; padding: 28px 0px 10px 0px; }
.total-section .activities { max-width: 165px; }
.total-section .activities ul { padding-bottom: 20px; }
.total-section .activities img { padding: 0px 20px 0px 0px; }
.total-section .carousel .item { overflow: hidden; min-height: 120px; font-size: 13px; }
.total-section .carousel .media img { width: 75px; height: 75px; display: block; }
.total-section .carousel .testimonial { position: relative; }
.total-section .carousel .item .row > div:first-child .media { margin-left: 0; }
.total-section .carousel .testimonial p { margin: 0; padding: 28px 0px 0px 0px; }
.total-section .carousel .testimonial .overview p { margin: 0; padding: 0px 0px 3px 0px; }
.total-section .carousel .carousel-control { width: 21px; height: 21px; background: #ffffff; color: #b7b7b7; text-shadow: none; top: -85px; float: right; border: 1px solid grey; border-radius: 3px; }
.total-section .carousel-control i { font-size: 16px; }
.total-section .carousel-control.left { left: auto; right: 25px; }
.total-section .carousel-control.right { left: auto; }

/* ========================================================================== > card section start ========================================================================== */
.card-section { background-color: #f1f2f6; border: none !important; padding: 70px 0; }

.card-body { background-color: #ffffff; text-align: center; }
.card-body h5 { font-size: 15px; font-weight: 600; padding-bottom: 22px; }
.card-body h6 { font-size: 14px; }

.img-container { position: relative; display: inline-block; }

.img-container img { display: block; }

.img-container .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 67%; background: #3b9cd1; opacity: 0; transition: opacity 500ms ease-in-out; }

.img-container:hover .overlay { opacity: 0.9; }

.overlay span { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; }

/* ========================================================================== > start video section ========================================================================== */
.video .h-100 { height: 670px !important; }
.video .video-btn { background-color: #29b6f6; color: #ffffff; font-size: 0px; font-family: "Montserrat", sans-serif; font-weight: 400; width: auto; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; border-radius: 4px; padding: 10px 27px 10px 27px !important; margin: 38px auto 0 auto; font-size: 12px; display: inline-block; border: 2px solid #29b6f6; font-weight: 400; }
.video .video-btn:hover, .video .video-btn:focus { background-color: #128712; color: #ffffff; border-color: #FFEF44; }
.video h2 { padding: 30px 0px 20px 0px; }

.iframe-video { padding: 0px 0px 55px 0px; }

/* ==========================================================================
> style the gallery
========================================================================== */
.gallery { padding: 68px 0px 68px 0px; }
.gallery h4 { padding: 0px 0px 68px 0px; }

.gallery-card { padding-top: -40px; }
.gallery-card img:hover { opacity: 0.8; }

.inner-image img { height: auto; padding: 0px 0px 0px 0px; }

.gallery-card { background-color: white; }

/* ========================================================================== > style the footer-section ========================================================================== */
/* ********************************* > style the footer-up ********************************* */
.footer-up { background-color: #f0f3f5; padding: 52px 0; }
.footer-up h5 { font-weight: 600; }

.map { width: 258px; height: 180px; border: 5px solid white; }

.contact h5 { padding: 0px 0px 22px 0px; }
.contact p { line-height: 28px; }

.recent-post h5 { padding: 0px 0px 22px 0px; }
.recent-post ul > li { list-style: none; }
.recent-post ul > li:before { font-family: FontAwesome; content: "\f054"; width: 24px; left: 0; font-size: 10px; line-height: 28px; color: #999999; }
.recent-post a { padding-left: 7px; text-decoration: none; font-size: 14px; font-weight: 400; font-family: "Droid Sans", sans-serif; color: #555555; }
.recent-post a:hover { color: #b71c1c; }

.newslater h5 { padding: 0px 0px 22px 0px; }
.newslater p { font-size: 13px; padding: 0px 0px 22px 0px; }
.newslater .custom-btn { background-color: #29b6f6; color: #ffffff; font-size: 0px; font-family: "Montserrat", sans-serif; font-weight: 400; width: auto; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; border-radius: 4px; padding: 10px 27px 10px 27px !important; font-size: 12px; display: inline-block; border: 2px solid #29b6f6; font-weight: 400; }
.newslater .custom-btn:hover, .newslater .custom-btn:focus { background-color: #128712; color: #ffffff; border-color: #FFEF44; }

/* ********************************* > style the footer-down ********************************* */
.footer-icon .fa { padding: 6px; font-size: 15px; text-align: center; text-decoration: none; margin: 32px 14px 32px 0px; border: 1px solid #e6e6e6; border-radius: 50%; background-color: #ffffff; color: #999999; width: 32px; height: 32px; }
.footer-icon .fa:hover { opacity: 0.7; text-decoration: none; }
.footer-icon .fa:last-child { margin-right: 0px; }

/* ========================================================================== > start all-rooms html page ========================================================================== */
.all-rooms .h-100 { height: 390px !important; padding-top: 18px; }

.rooms-banner img { width: 100%; height: 390px; }

.image-icon img { padding: 38px 22px 38px 0px !important; }

.rooms-text h2 { font-size: 50px; padding: 35px 0px 27px 0px; }
.rooms-text p { font-size: 15px; }

.home { padding: 20px 0px 40px 0px; }
.home .fa-home { border: none; }
.home .fa-caret-right { border: none; }

.single-room h4 { font-size: 24px; text-transform: capitalize; padding: 0px 0px 23px 0px; }
.single-room .custom-btn { background-color: #29b6f6; color: #ffffff; font-size: 0px; font-family: "Montserrat", sans-serif; font-weight: 400; width: auto; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; border-radius: 4px; padding: 10px 27px 10px 27px !important; font-size: 12px; display: inline-block; border: 2px solid #29b6f6; font-weight: 400; }
.single-room .custom-btn:hover, .single-room .custom-btn:focus { background-color: #128712; color: #ffffff; border-color: #FFEF44; }
.single-room img { padding: 34px 0px 34px 0px; }

/* ========================================================================== >  start general facilities section ========================================================================== */
.general { padding: 0px 0px 70px 0px; }

.general-facilities { border: 1px solid #e6e6e6; }
.general-facilities h3 { font-family: "Montserrat", sans-serif; padding: 56px 0px 31px 0px; }
.general-facilities h5 { text-transform: capitalize; padding: 0px 0px 50px 0px; }
.general-facilities img { padding: 38px 0px 90px 24px; }

/* ========================================================================== >  start about nus html page ========================================================================== */
.about-link { color: #555555; font-size: 15px; font-family: "Droid Sans", sans-serif; font-style: normal; font-weight: 400; }

.about .h-100 { height: 390px !important; padding-top: 18px; }

.about-body p { padding: 65px 0px 0px 0px; }
.about-body h3 { font-family: "Mrs Saint Delafield", cursive; padding: 26px 0px 26px 0px; }

.about-body-top { padding: 0px 0px 68px 0px; }

.about-body-center { background-color: #f0f3f5; }
.about-body-center img { padding: 69px 0px 30px 0px; }
.about-body-center p { padding: 24px 0px 63px 0px; }
.about-body-center .best-resort { padding: 7px 0px 0px 0px; }
.about-body-center .award-beach { padding: 20px 0px 0px 0px; }

.about-body-bottom h4 { padding: 50px 0px 40px 0px; }
.about-body-bottom p { padding: 28px 0px 80px 0px; text-align: justify; }

.testimonial .fa { color: #d3d3d3; }

.overview p { padding: 0; color: #555555; }
.overview .details { color: #888888; }

.form-group i { position: absolute; }

.form-group { width: 100%; margin-bottom: 10px; }

.icon { padding: 10px; min-width: 40px; opacity: 0.6; }

.form-control { border: none !important; outline: none !important; }

.form-control:focus { border: none !important; outline: none !important; }

/* ========================================================================== > start guests section ========================================================================== */
@media (max-width: 575.98px) { .img-container .overlay { height: 75%; }
  .about-body-top h4 { font-size: 18px; padding-top: 60px; }
  .about-body-bottom .carousel-inner img { height: 40px; }
  iframe { max-width: 100%; height: 300px; }
  .carousel-inner img { height: 480px; }
  .rooms-banner-img { height: 480px; }
  .carousel-caption { margin-bottom: 1px; }
  .carousel-caption h1 { font-size: 24px; }
  .carousel-caption h2 { font-size: 24px; }
  .footer-up h5 { padding-top: 24px; }
  .single-room h4 { padding: 25px 0px 0px 0px; } }
@media (min-width: 576px) and (max-width: 767.98px) { .img-container .overlay { height: 75%; }
  .about-body-top h4 { font-size: 18px; padding-top: 60px; }
  .about-body-bottom .carousel-inner img { height: 40px; }
  iframe { max-width: 100%; height: auto; }
  .carousel-inner img { height: 480px; }
  .carousel-caption { margin-bottom: 1px; }
  .carousel-caption h1 { font-size: 24px; }
  .carousel-caption h2 { font-size: 24px; }
  .footer-up h5 { padding-top: 24px; }
  .single-room h4 { padding: 25px 0px 0px 0px; } }
@media (min-width: 768px) and (max-width: 991.98px) { .img-container .overlay { height: 75%; }
  .about-body-top h4 { font-size: 18px; padding-top: 60px; }
  .about-body-bottom .carousel-inner img { height: 40px; }
  iframe { max-width: 100%; height: auto; }
  .carousel-inner img { height: 480px; }
  .carousel-caption { margin-bottom: 1px; }
  .carousel-caption h1 { font-size: 24px; }
  .carousel-caption h2 { font-size: 24px; }
  .footer-up h5 { padding-top: 24px; }
  .single-room h4 { padding: 25px 0px 0px 0px; } }

/*# sourceMappingURL=style.css.map */
