$white: #ffffff;
$black: #000000;
$dark-black: #353535;
$dark: #1c1c1c;
$black-deep: #111111;
$black-light: #3e3e3e;
$light-green: #128712;
$dark-green: #1B5E20;
$dark-blue:#29b6f6;
$gray-light: #a6a6a6;
$gray: #999999;
$gray-bright: #c2c2c2;
$red-color: #b71c1c;
$transparent:transparent;

$display-block:block;
$position-absolute:absolute;
$position-relative:relative;
$bg-white:#fff;
$bg-red:#ff6666;
$bg-green:#009900;
$bg-blue:#35369c;
$bg-grey:darkgrey;
$button-bg-hover:#00C3AA;
$width-hundred-percent:100%;
$height-hundred-percent:100%;

$base-font-size:14px;
$line-height: 1.429;

$droid-sans: 'Droid Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$sue-ellen-francisco: 'Sue Ellen Francisco', cursive;
$mrs-saint-delafield: 'Mrs Saint Delafield', cursive;


$thin:100;
$extra-light:200;
$light:300;
$regular:400;
$bold:700;
$semi-bold:600;
$medium:500;
$extra-bold:800;
