
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .img-container .overlay{
    height:75%;
  }
  .about-body-top{
    h4{
      font-size: 18px;
      padding-top: 60px;
    }
  }
  .about-body-bottom{
    .carousel-inner img {
      height: 40px;
    }
  }
  iframe {
    max-width: 100%;
    height: 300px;
  }
  .carousel-inner img {
    height: 480px;
  }
  .rooms-banner-img{
    height: 480px;
  }
  .carousel-caption {
    margin-bottom: 1px;
    h1{
      font-size:24px;
    }
    h2{
      font-size:24px;
    }
  }
.footer-up h5{
  padding-top: 24px;
}
  .single-room h4 {
    padding: 25px 0px 0px 0px;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .img-container .overlay{
    height:75%;
  }
  .about-body-top{
    h4{
      font-size: 18px;
      padding-top: 60px;
    }
  }
  .about-body-bottom{
    .carousel-inner img {
      height: 40px;
    }
  }
  iframe {
    max-width: 100%;
    height: auto;
  }
  .carousel-inner img {
    height: 480px;
  }
  .carousel-caption {
    margin-bottom: 1px;
    h1{
      font-size:24px;
    }
    h2{
      font-size:24px;
    }
  }
  .footer-up h5{
    padding-top: 24px;
  }
  .single-room h4 {
    padding: 25px 0px 0px 0px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .img-container .overlay{
    height:75%;
  }
  .about-body-top{
    h4{
      font-size: 18px;
      padding-top: 60px;
    }
  }
  .about-body-bottom{
    .carousel-inner img {
      height: 40px;
    }
  }
  iframe {
    max-width: 100%;
    height: auto;
  }
  .carousel-inner img {
    height: 480px;
  }
  .carousel-caption {
    margin-bottom: 1px;
    h1{
      font-size:24px;
    }
    h2{
      font-size:24px;
    }
  }
  .footer-up h5{
    padding-top: 24px;
  }
  .single-room h4 {
    padding: 25px 0px 0px 0px;
  }
}



// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}