
.top-title{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: url(../img/bottom-img.png) no-repeat;
    background-position:left;
    background-size: auto;
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align:left;
  }
  }

.controls-top{
  .fa {
    text-decoration: none;
    /* margin: 32px 14px 32px 0px; */
    border: 1px solid #999999;
    border-radius: 4px;
    background-color: $white;
    width: 21px;
    height: 21px;
    color: #b7b7b7;
    padding: 2px 0px 2px 3px;
  }
}
.guests-control{
  .fa{
    margin-top: 50px;
  }

}
/* ==========================================================================
  > style the header-section
  ========================================================================== */
.header-top{
  background-color: $white;
  img{
    padding:12px 0px 12px 30px;
  }
  ul>li{
    padding:20px 30px 0px 0px;
    p{
      font-size: 12px;
      font-family: $montserrat;
      font-weight: $regular;
    }
  }

}
.header{
    background-color: transparent;
    margin-top: 18px;
    z-index: 1;
    width: 100%;
  span{

  }

}
/*  *********************************
  > style the menu-section
   ********************************* */
.header-menu{
  nav ul>li{
    padding: 0px 13px 0px 30px;
    border-right: 1px solid white;
  }
  &:last-child{
    padding:0;
  }
  a{
    font-size: 12px;
    font-weight:$regular;
    font-family:$montserrat ;
  }

}
.header-menu .navbar-nav li.active > a {

  color: $dark-green;
  background-color: white;
}


/*  *********************************
  > style the slider-section
   ********************************* */
.carousel-btn{
  @include btn($dark-blue, $white, 0px, $montserrat, $regular, auto, #ff3251, $light-green, $white, #FFEF44);
  border-radius: 4px;
  padding: 10px 27px 10px 27px !important;
  margin: 54px auto 0 auto;
  font-size: 12px;
  display: inline-block;
  border: 2px solid $dark-blue;
  font-weight: 400;
}
.carousel-btn2{
  @include btn($transparent, $white, 0px, $montserrat, $regular, auto, #ff3251, $light-green, $white, #FFEF44);
  border-radius: 4px;
  padding: 10px 27px 10px 27px !important;
  margin: 54px auto 0 auto;
  font-size: 12px;
  display: inline-block;
  border: 2px solid white;
  font-weight: 400;
}
.carousel-inner img {
  width: 100%;
  height: auto;
}
.carousel-caption{
  margin-bottom:300px;
  h1{
    font-family:$sue-ellen-francisco;
    font-weight: $regular;
  }
  h2{
    font-size: 60px;
    font-weight: $bold;
    text-transform: capitalize;
  }
}


/* ==========================================================================
  > style the main-body-section
  ========================================================================== */
.welcome-body{
  .client-jason{
    padding:0px 0px 12px 0px;
  }
}
.total-section {
  padding: 60px 0px 60px 0px;
  h4 {
    padding: 0px 0px 60px 0px;
  }
    h3 {
      font-family: $mrs-saint-delafield;
      padding: 28px 0px 10px 0px;
    }
  .activities {
    max-width: 165px;
    ul {
      padding-bottom: 20px;
    }

    img {
      padding: 0px 20px 0px 0px;
    }
  }

  .carousel .item {
    overflow: hidden;
    min-height: 120px;
    font-size: 13px;
  }

  .carousel .media img {
    width: 75px;
    height: 75px;
    display: block;
  }

  .carousel .testimonial {
    position: relative;
  }

  .carousel .item .row > div:first-child .media {
    margin-left: 0;
  }
  .carousel .testimonial p {
    margin: 0;
    padding: 28px 0px 0px 0px;
  }
  .carousel .testimonial .overview p {
    margin: 0;
    padding: 0px 0px 3px 0px;
  }
  .carousel .carousel-control {
    width: 21px;
    height: 21px;
    background: #ffffff;
    color: #b7b7b7;
    text-shadow: none;
    top: -85px;
    float: right;
    border: 1px solid grey;
    border-radius: 3px;
  }

  .carousel-control i {
    font-size: 16px;
  }

  .carousel-control.left {
    left: auto;
    right: 25px;
  }

  .carousel-control.right {
    left: auto;
  }
}
/* ==========================================================================
  > card section start
  ========================================================================== */
.card-section{
  background-color: #f1f2f6;
  border:none !important;
  padding: 70px 0;
  img:hover{

  }
}
.card-body{
  background-color: $white;
  text-align: center;
  h5{
    font-size: $base-font-size+1;
    font-weight: $semi-bold;
    padding-bottom: 22px;
  }
  h6{
    font-size: $base-font-size;
  }
}
.img-container{
  position:relative;
  display:inline-block;
}
.img-container img{
  display:block
}
.img-container .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:67%;
  background:#3b9cd1;
  opacity:0;
  transition:opacity 500ms ease-in-out;
}
.img-container:hover .overlay{
  opacity:0.9;
}
.overlay span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
}

/* ==========================================================================
  > start video section
  ========================================================================== */
.banner-video-image:before{

}
.video{
 .h-100{
   height:670px !important;
 }
  .video-btn{
    @include btn($dark-blue, $white, 0px, $montserrat, $regular, auto, #ff3251, $light-green, $white, #FFEF44);
    border-radius: 4px;
    padding: 10px 27px 10px 27px !important;
    margin: 38px auto 0 auto;
    font-size: 12px;
    display: inline-block;
    border: 2px solid $dark-blue;
    font-weight: 400;
  }
  h2{
    padding: 30px 0px 20px 0px;
  }
}
.iframe-video{
  padding:0px 0px 55px 0px;
}
  /* ==========================================================================
  > style the gallery
  ========================================================================== */
  .gallery{
    padding:68px 0px 68px 0px;
    h4{
      padding:0px 0px 68px 0px;
    }
  }
.gallery-card{
  padding-top: -40px;
  img:hover{
    opacity: 0.8;
  }
}
.inner-image{
  img{
    height:auto;
    padding: 0px 0px 0px 0px;
  }
}
.gallery-card{
  background-color:white;
}
/* ==========================================================================
  > style the footer-section
  ========================================================================== */


/* *********************************
  > style the footer-up
  ********************************** */
.footer-up{
  background-color: #f0f3f5;
  padding: 52px 0;

  h5{
    font-weight: $semi-bold;
  }
}
.map{
  width: 258px;
  height: 180px;
  border:5px solid white;
}
.contact{
  h5{
    padding:0px 0px 22px 0px;
  }
  p{
    line-height: 28px;
  }
}
.recent-post{
  h5{
    padding:0px 0px 22px 0px;
  }
  ul>li {
    list-style: none;

    &:before {
      font-family: FontAwesome;
      content: "\f054";
      width: 24px;
      left: 0;
      font-size: 10px;
      line-height: 28px;
      color: $gray;
    }
    }

    a {
      padding-left: 7px;
      text-decoration: none;
      font-size: 14px;
      font-weight: $regular;
      font-family: $droid-sans;
      color: rgb(85, 85, 85);

      &:hover {
        color: $red-color;
      }
    }

  }
.newslater{
  h5{
    padding:0px 0px 22px 0px;
  }
  p{
    font-size: 13px;
    padding:0px 0px 22px 0px;
  }
  .custom-btn{
    @include btn($dark-blue, $white, 0px, $montserrat, $regular, auto, #ff3251, $light-green, $white, #FFEF44);
    border-radius: 4px;
    padding: 10px 27px 10px 27px !important;
    font-size: 12px;
    display: inline-block;
    border: 2px solid $dark-blue;
    font-weight: 400;
  }

}
/* *********************************
  > style the footer-down
  ********************************** */
.footer-icon{
  .fa {
    padding: 6px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin: 32px 14px 32px 0px;
    border:1px solid rgb(230, 230, 230);
    border-radius: 50%;
    background-color:$white;
    color:$gray;
    width: 32px;
    height: 32px;
  }
  .fa:hover {
    opacity: 0.7;
    text-decoration: none;
  }
  .fa:last-child{
    margin-right:0px;
  }
}


/* ==========================================================================
  > start all-rooms html page
  ========================================================================== */
.all-rooms{

  .h-100{
    height:390px !important;
    padding-top:18px;
  }
}
.rooms-banner img{
  width: 100%;
  height: 390px;
}
.image-icon{
  img{
    padding:38px 22px 38px 0px !important;
    
  }
}
.rooms-text{
  h2{
    font-size: 50px;
    padding:35px 0px 27px 0px;
  }
  p{
    font-size: $base-font-size+1;
  }
}

.home{
  padding: 20px 0px 40px 0px;
  .fa-home{
    border:none;
  }
  .fa-caret-right{
    border:none;
  }
}
.single-room {
  h4 {
    font-size: 24px;
    text-transform: capitalize;
    padding:0px 0px 23px 0px;
  }
  .custom-btn{
    @include btn($dark-blue, $white, 0px, $montserrat, $regular, auto, #ff3251, $light-green, $white, #FFEF44);
    border-radius: 4px;
    padding: 10px 27px 10px 27px !important;
    font-size: 12px;
    display: inline-block;
    border: 2px solid $dark-blue;
    font-weight: 400;
  }
  img{
    padding: 34px 0px 34px 0px;
  }
}

/* ==========================================================================
  >  start general facilities section
  ========================================================================== */
.general{
  padding: 0px 0px 70px 0px;
}
.general-facilities{
  border:1px solid #e6e6e6;
  h3{
    font-family: $montserrat;
    padding: 56px 0px 31px 0px;
  }
  h5{
    text-transform:capitalize;
    padding: 0px 0px 50px 0px;
  }
  img{
    padding: 38px 0px 90px 24px;
  }
}

/* ==========================================================================
  >  start about nus html page
  ========================================================================== */
.about-link{
  color: rgb(85, 85, 85);
  font-size: $base-font-size+1; // 15px
  font-family: $droid-sans;
  font-style: normal;
  font-weight: $regular;
}
.about{
  .h-100{
    height:390px !important;
    padding-top:18px;
  }
}
.about-body{
  p{
    padding:65px 0px 0px 0px;
  }
  h3{
    font-family: $mrs-saint-delafield;
    padding:26px 0px 26px 0px;
  }
}
.about-body-top{
  padding:0px 0px 68px 0px;
}
.about-body-center{
  background-color: #f0f3f5;
  img{
    padding: 69px 0px 30px 0px;
  }
  p{
    padding: 24px 0px 63px 0px;
  }
  .best-resort {
    padding: 7px 0px 0px 0px;
  }
  .award-beach{
    padding: 20px 0px 0px 0px;
  }
}


.about-body-bottom{
h4{
  padding:50px 0px 40px 0px;
}
  p{
    padding:28px 0px 80px 0px;
    text-align: justify;
  }

}
.testimonial{
  .fa{
     color:#d3d3d3;
  }
}
.overview{
  p{
    padding: 0;
    color: rgb(85, 85, 85);
  }
  .details{
    color: rgb(136, 136, 136);
  }
}
.form-group i {
  position: absolute;
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
  opacity: 0.6;
}
.form-control{
  border:none !important;
  outline: none !important;
}
.form-control:focus{
  border:none !important;
  outline: none !important;
}
/* ==========================================================================
  > start guests section
  ========================================================================== */
